/* Reset default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}
.container img{
    height: 4vh;
    width: 4vh;
    padding-top:4vh;
    padding-right: 10vh;
}
.container h1{

    text-align: left;
}
/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
}

header h1 {
    text-align: center;
    margin-bottom: 0.5em;
}
header h1 i {
    margin-right: 0.5em;
    font-size: 1.5em; /* Adjust size of the icon */
}
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main content styles */
main {
    padding: 2em 0;
}

.post {
    background: #fff;
    margin-bottom: 1.5em;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post h2 {
    margin-top: 0;
}

.post .meta {
    font-size: 0.9em;
    color: #666;
}

.post .read-more {
    display: inline-block;
    margin-top: 1em;
    color: #007bff;
    text-decoration: none;
}

.post .read-more:hover {
    text-decoration: underline;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

footer p {
    margin: 0;
}

.container a:hover{
background-color:#007bff;
font-size: large;

}